.page-wrapper {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  width: 150%;
  /* background: #fff; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: #73a7c9;
  padding: 40px;
  border-radius: 70px;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}
.text {
  color: black;
  font-size: 50px;
  font-weight: 600;
}
.underline {
  width: 61px;
  height: 7px;
  background: black;
  border-radius: 10px;
  margin: 0 auto;
}
.input-field {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input {
  display: flex;
  margin: auto;
  width: 480px;
  height: 80px;
  background: white;
  border-radius: 5px;
  align-items: center;
}
.input img {
  margin: 0px 20px;
}
.input input {
  height: 40px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: grey;
  font-size: 19px;
}
.submit-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.submit-button {
  display: flex;
  align-items: center;
  border-radius: 40px;
  width: 150px;
  height: 60px;
  background: #22577a;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.errordanger {
  display: block;
  font-size: 10px;
  color: red;
}
.gshark {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}
