.input input {
  height: 40px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: grey;
  font-size: 19px;
}
.submit-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.submit-button {
  display: flex;
  align-items: center;
  border-radius: 40px;
  width: 150px;
  height: 60px;
  background: #22577a;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.errordanger {
  display: block;
  font-size: 10px;
  color: red;
}
.gshark {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}
