.tripname {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 20px;
}
.tripnamebox {
  font-size: 20px;
}
.invitecontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  width: 250px;
}
.nametripcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 200%;
}
.invitebutton {
  margin-top: 20px;
  width: 150px;
  height: 30px;
  justify-content: center;
  display: block;
  flex-direction: block;
  padding: 3px 20px;
}
.form {
  font-size: 20px;
}
.inputbox {
  width: 400px;
}
